<!DOCTYPE html>
<!-- The password is inside there somewhere -->
<html>
  <head>
    <title>Hello Forms</title>
    <link rel="stylesheet" href="/resources/puzzlestyle.css">
  </head>
  <body>
    <span>Password?</span>
    <form>
      <p> What is the most common phrase you know? This is a puzzle. A difficult puzzle. You must look inside the &lt;p&gt; Element to find the password.
        <!-- The password is: {{ passphrase }} -->
      </p>
      <input type="text" name="pass"/>
      <input type="submit"/>
    </form>
  </body>
</html>
