<!DOCTYPE html>
<!-- The password is inside there somewhere -->
<html>
  <head>
    <title>Hello Forms</title>
    <link rel="stylesheet" href="/resources/puzzlestyle.css">
  </head>
  <body>
    <span>Password?</span>
    <form>
      <p> This time, you have to dig even deeper. <b>Inspect</b> this paragraph and look for the password there.
        <!-- The password is: {{ passphrase }} -->
      </p>
      <input type="text" name="pass"/>
      <input type="submit"/>
    </form>
  </body>
</html>
