<!DOCTYPE html>
<!-- The password is: {{ passphrase }} -->
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/resources/puzzlestyle.css">
  </head>
  <body>
    <span>Password?</span>
    <form>
      <input type="text" name="pass"/>
      <input type="submit"/>
    </form>
    <div>
      <br>
      Right click and choose the menu choice that says Inspect. Click this option.<br>
      <img src="/resources/screenshot_of_menu_choice.jpg" height="240"><br>
      You'll see something like this:<br>
      <img src="/resources/Inspect.png" height="300"><br>
      The password will be where the red arrows are pointing!
    </div>
  </body>
</html>
