<!DOCTYPE html>
<!-- This time, the password is inside the <form> -->
<html>
  <head>
    <title>Hello Forms</title>
    <link rel="stylesheet" href="/resources/puzzlestyle.css">
  </head>
  <body>
    <span>Password?</span>
    <form>
      <!-- The password is: {{ passphrase }} -->
      <input type="text" name="pass"/>
      <input type="submit"/>
    </form>
    <div>
      Inspect the HTML again (or just keep that panel open all the time). Then try opening the &lt;form&gt; element.
    </div>
  </body>
</html>
