<!DOCTYPE html>
<!-- The password is: {{ passphrase }} -->
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <span>Password?</span>
    <form>
      <input type="text" name="pass"/>
      <input type="submit"/>
      <br>
      Right click and choose the menu choice that says Inspect. Click this option.<br>
      <img src="/resources/screenshot_of_menu_choice.jpg"><br>
      Open the body of the html, and the password will be located where the red arrow is directing.
      <img src="/resources/screenshot_of_elements_view.jpg"><br>
    </form>
  </body>
</html>
