<!DOCTYPE html>
<!-- The password is: {{ passphrase }} -->
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <span>Password?</span>
    <form>
      <input type="text" name="pass"/>
      <input type="submit"/>

<img src="screenshot of menu choice.jpg"><br>
Right click and choose the menu choice that says Inspect. Click this option.<br>
<img src="screenshot of elements view.jpg"<br>
Open the body of the html, and the password will be located where the red arrow is directing.
    </form>
  </body>
</html>
