<!DOCTYPE html>
<html>
  <head>
    <title>.js file reveals all.</title>
    <script src="VicJScript.js"></script>
  </head>
  <body>
    <span>Password in the console.</span>
    <form>
      <input type="text" name="pass"/>
      <input type="submit"/>
    </form>
    <div>
      <br/>The <b>dev console</b> is right next to the <b>Elements</b> view you've been using to inspect the page.<br/>
      <img src="/resources/consolehint.png" height="100"><br/>
      We've hidden the password in a variable that's cleverly named <code>Password</code>. <br/>
      Type that into the console, press enter, and see what it says!
    </div>
  </body>
</html>
