<!DOCTYPE html>
<html>
  <head>
    <title>Invisible form</title>
    <link rel="stylesheet" href="/resources/puzzlestyle.css">
    <link type="text/css" rel="stylesheet" href="/resources/displaynone.css"/>
  </head>
  <body>
    <p>The password is <b>{{ passphrase }}</b>. But it would appear that all the correct elements are invisible...</p>
    <form>
      <!-- The inputs are here, but they're all invisible! 
        that's because they are set to display: none in the css 
        (same place where you just changed the background color) -->
      <input type="text" name="pass" value="{{ passphrase }}"/> 
      <input type="submit" value="Submit"/>
    </form>
    <p>
      What's going on inside that <code>&lt;form&gt;</code>?
    </p>
  </body>
</html>
